body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 5vw;  /* Scales text based on screen width (good for mobile) */
    text-align: center;
    background-color: #000;
    color: #fff;
}

hr {
    width: 500px;
}

#moves {
    display: none;
}

#board {
    width: 300px;
    height: 300px;

    background-color: #cdc1b5;
    border: 6px solid #bbada0;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 65px;
    height: 65px;
    border: 5px solid #bbada0;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* colored tiles */

.x2 {
    background-image: url('images/Kanade_1_thumbnail.png');
    background-size: cover;
    background-position: center;
    color: white;
    color: rgba(255, 255, 255, 0);
}

.x4 {
    background-image: url('images/Kanade_2_thumbnail.png');
    background-size: cover;
    background-position: center;
    color: white;
    color: rgba(255, 255, 255, 0);
}

.x8 {
    background-image: url('images/Kanade_3_thumbnail.png');
    background-size: cover;
    background-position: center;
    color: white;
    color: rgba(255, 255, 255, 0);
}

.x16{
    background-image: url('images/Kanade_3_trained_thumbnail.png');
    background-size: cover;
    background-position: center;
    color: white;
    color: rgba(255, 255, 255, 0);
}

.x32{
    background-image: url('images/Kanade_4_thumbnail.png');
    background-size: cover;
    background-position: center;
    color: white;
    color: rgba(255, 255, 255, 0);
}

.x64{
    background-image: url('images/Kanade_4_trained_thumbnail.png');
    background-size: cover;
    background-position: center;
    color: white;
    color: rgba(255, 255, 255, 0);
}

.x128{
    background-image: url('images/Kanade_5_thumbnail.png');
    background-size: cover;
    background-position: center;
    color: white;
    color: rgba(255, 255, 255, 0);
}

.x256{
    background-image: url('images/Kanade_5_trained_thumbnail.png');
    background-size: cover;
    background-position: center;
    color: white;
    color: rgba(255, 255, 255, 0);
}

.x512{
    background-image: url('images/Kanade_6_thumbnail.png');
    background-size: cover;
    background-position: center;
    color: white;
    color: rgba(255, 255, 255, 0);
}

.x1024{
    background-image: url('images/Kanade_6_trained_thumbnail.png');
    background-size: cover;
    background-position: center;
    color: white;
    color: rgba(255, 255, 255, 0);
}

.x2048{
    background-image: url('images/Kanade_9_thumbnail.png');
    background-size: cover;
    background-position: center;
    color: white;
    color: rgba(255, 255, 255, 0);
}

.x4096 {
    background-image: url('images/Kanade_9_trained_thumbnail.png');
    background-size: cover;
    background-position: center;
    color: white;
    color: rgba(255, 255, 255, 0);
}

.x8192 {
    background-image: url('images/Kanade_12_thumbnail.png');
    background-size: cover;
    background-position: center;
    color: white;
    color: rgba(255, 255, 255, 0);
}

.x16384 {
    background-image: url('images/Kanade_12_trained_thumbnail.png');
    background-size: cover;
    background-position: center;
    color: white;
    color: rgba(255, 255, 255, 0);
}

.x32768 {
    background-image: url('images/Kanade_14_trained_thumbnail.png');
    background-size: cover;
    background-position: center;
    color: white;
    color: rgba(255, 255, 255, 0);
}

.game-over-section {
    display: none;
    margin-top: 30px;
    background-color: #faf8ef;
    padding: 20px;
    border: 2px solid #bbada0;
    border-radius: 10px;
    text-align: center;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  }
  
  .game-over-section h1 {
    color: #776e65;
    margin-bottom: 10px;
  }
  
  .game-over-section button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #8f7a66;
    color: #f9f6f2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

button {
font-size: 5vw;
padding: 3vw 6vw;
margin: 4vw;
}

/* Media query for desktop */
@media (min-width: 1000px) {
  body {
    font-size: 14px; 
    padding: 20px;
  }

  button {
    font-size: 14px;  
    padding: 10px 20px;
    margin: 10px;
  }
}